@page "/chat";

<div class="top-row px-4">
    Title
</div>            
<div class="interactive-components">
    <div class="chats-view">
        @* @Body *@
        @for (int i = 0; i < 100; i++)
        {
            <p>History Of messaging
                width: 100%!important; 
            height: 100%!important;
            </p>
        }
    </div> 
</div>
<div class="input-components">
    footer data
</div>