@*This is the notification filter component. It helps fiter the notifications by name *@
<div class="search">
	<form class="form-inline position-relative">
		<input type="search" class="form-control" id="notice" placeholder="Filter notifications...">
		<button type="button" class="btn btn-link loop"><i class="material-icons filter-list">filter_list</i></button>
	</form>
</div>

@code {

}
