.main .chat .content .date {
  display: flex;
  align-items: center;
  padding: 26px 0 46px;
}
.main .chat .content .date hr {
  width: 100%;
  border-top: 2px solid #fbfbfb;
  margin-top: 0;
  margin-bottom: 0;
}
.main .chat .content .date span {
  display: block;
  padding: 0 20px;
}