.sidebar .sort {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.sidebar .sort .btn {
  padding: 8px 20px;
  background: 0 0;
  border-radius: 100px;
  color: inherit;
  font-size: 15px;
  font-weight: 500;
}
.sidebar .sort .btn.active {
  color: #2196f3;
  padding: 8px 20px;
  background: #f5f5f5;
  border-radius: 100px;
}
