@inject IModalService modal;

<div class="search">
    <form class="form-inline position-relative">
        <input 
            type="search"
            class="form-control" 
            id="people" 
            placeholder="Find conversations..."  
            @oninput="HandleSearch" />
        <button type="button" class="btn btn-link loop" @onclick="@HandleSearchOnclick">
            <i class="fa fa-solid fa-brand fa-search"></i>
        </button>
    </form>
    
    <button @onclick="@(() => modal.Show<NewChatModal>())"
    class="btn create" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="material-icons">person_add</i>
    </button>
</div>

@code {
    private string? filterString { get; set; } = string.Empty;

    [Parameter]
    public Action<string?>? OnSearch { get; set; }

    private void HandleSearch(ChangeEventArgs args)
    {
        filterString = args.Value?.ToString();
        OnSearch?.Invoke(filterString);
    }

    private void HandleSearchOnclick()
    {
        OnSearch?.Invoke(filterString);
    }
}