<div class="list-group sort">
  <button
    class="btn filterMembersBtn active show"
    data-toggle="list"
    data-filter="all"
  >
    All
  </button>
  <button class="btn filterMembersBtn" data-toggle="list" data-filter="online">
    Read
  </button>
  <button class="btn filterMembersBtn" data-toggle="list" data-filter="offline">
    Unread
  </button>
</div>

