.dropdown-item {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.show > .btn.dropdown-toggle {
  border: none;
  box-shadow: none;
  outline: 0;
}
.dropdown-item,
.dropdown-item:focus,
.dropdown-item:hover {
  color: #bdbac2;
  border-radius: 6px;
}
.dropdown-menu hr {
  border-top: 2px solid #fbfbfb;
  margin: 10px;
}
.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.dropdown-item:hover {
  background: #f5f5f5;
}
.dropdown-item:focus {
  background: 0 0;
  border: none;
  outline: 0;
  box-shadow: none;
}
.create.btn:not(:disabled):not(.disabled):active,
.show > .btn.dropdown-toggle,
.sidebar .create,
.sidebar .create.btn:not(:disabled):not(.disabled).active {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.04);
}
.dropdown-item.active,
.dropdown-item:active {
  background: #2196f3 !important;
  color: #fff !important;
}
.dropdown-menu .material-icons {
  margin-right: 10px;
}
.main .chat .top .inside .dropdown .btn {
  margin-right: 0;
}
.main .chat .top .inside .dropdown-menu-right {
  right: 0 !important;
  bottom: inherit !important;
}
.dropdown-menu {
  min-width: 14rem;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  border: none;
}
