<button class="btn connect d-md-block d-none" name="1">
  <i class="material-icons md-30">phone_in_talk</i>
</button>
<button class="btn connect d-md-block d-none" name="1">
  <i class="material-icons md-36">videocam</i>
</button>
<button class="btn d-md-block d-none">
  <i class="material-icons md-30">info</i>
</button>
