<div class="top">
    <div class="container">
        <div class="col-md-12">
            <div class="inside">
                <a href="#">
                    <img 
                        class="avatar-md" 
                        src="@avatarUrl" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="@userOrGroupName" 
                        alt="avatar">
                </a>
                <div class="status">
                    <i class="material-icons online">fiber_manual_record</i>
                </div>
                <div class="data">
                    <h5><a href="#">@userOrGroupName</a></h5>
                    <span>@lastSeen</span>
                </div>
                
                <QuickMenu />

                <DropDownMenu />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public String? avatarUrl { get; set; }

    [Parameter]
    public String? userOrGroupName { get; set; }

    [Parameter]
    public String? lastSeen { get; set; }
}