@inherits LayoutComponentBase
@using CommsWall.WebApp.Pages.SideViewPages.ChatHistory.NavMenu

<PageTitle>CommsWall.WebApp</PageTitle>

<main>
    <div class="layout">

        <NavMenu /> 

        <SideView /> 

        @* Will display: DialogueArea, Video Call data stream, 
        Voice Call progress e.t.c *@
        
        @Body

        @* 
            TODO: Add an "add friends/ contacts" screen
            TODO: Add create chats screen
         *@
    </div>
</main>