@inherits LayoutComponentBase
@using CommsWall.WebApp.Shared.SideBar

<PageTitle>CommsWall.WebApp</PageTitle>

<main>
    <div class="layout">
        <CascadingValue Name="FontAwesomeIconStyle" Value="fontAwesomeIconStyle">

                <SideBar />

            @* Will display: DialogueArea, Video Call data stream, 
            Voice Call progress e.t.c *@

                @Body

            @* 
                TODO: Add an "add friends/ contacts" screen
                TODO: Add create chats screen
            *@
        </CascadingValue>
    </div>
</main>

@code {
    public string fontAwesomeIconStyle { get; set; }

    public class AppFonts
    {
        public static string? solid { get; set; }
        public static string? regular { get; set; }
    }
    public MainLayout()
    {
        AppFonts.solid = "fa-solid fa-brand";
        AppFonts.regular = "fa-regular fa-brand";
        @* Switching the icons from being solid to regular and vice versa *@
        fontAwesomeIconStyle = AppFonts.solid;
    }
}