@using CommsWall.WebApp.Pages.SideViewPages.ChatHistory.MainPage

<div class="sidebar" id="sidebar">
  <div class="container">
    <div class="col-md-12">
      <div class="tab-content">
        <ChatHistory />
      </div>
    </div>
  </div>
</div>

