@using CommsWall.WebApp.Pages.SideViewPages.ChatHistory.MainPage
@using CommsWall.WebApp.Pages.SideViewPages.Notifications.MainPage
@using CommsWall.WebApp.Pages.SideViewPages.Settings.MainPage

<div class="sidebar" id="sidebar">
  <div class="container">
    <div class="col-md-12">
      <div class="tab-content">
        @* 
          TODO: Wire up more components here: 
          TODO: [chat_history, settings, theme settings, notifications] 
          *@
        @switch (sidePage)
        { 
          case "chat_history":
            <ChatHistory />
            break;
          case "notifications":
            <Notifications />
            break;
          case "settings":
            <Settings />
            break;
          default:
            <ChatHistory />
            break;
        }
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter] public string? sidePage { get; set; }
}
