.sidebar[b-iqrs9h3a9u] {
  background: #f8f8f8;
}

@media (min-width: 992px) {
  .sidebar[b-iqrs9h3a9u] {
    padding: 30px 0 0;
    height: 100vh;
  }
  .sidebar[b-iqrs9h3a9u] {
    position: sticky;
    top: 0;
    z-index: 1020;
    width: 100%;
    -ms-overflow-style: none;
    overflow-x: hidden;
  }
  .sidebar[b-iqrs9h3a9u] {
    height: 100vh;
  }
  
  .sidebar .settings .categories .category:last-of-type[b-iqrs9h3a9u] {
    display: none;
  }
  .sidebar[b-iqrs9h3a9u] {
    min-width: 372px;
    max-width: 372px;
    overflow-y: scroll;
  }
  .sidebar[b-iqrs9h3a9u]::-webkit-scrollbar {
    width: 5px;
  }
  .sidebar[b-iqrs9h3a9u]::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }
  .sidebar[b-iqrs9h3a9u]::-webkit-scrollbar-thumb {
    background: #f5f5f5;
  }
}
@media (max-width: 991px) {
  .sidebar[b-iqrs9h3a9u] {
    padding: 30px 0 0;
    height: 100%;
    min-height: 100px;
    max-height: 600px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: hidden;
  }
  .sidebar[b-iqrs9h3a9u]::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 768px) {
  .container[b-iqrs9h3a9u] {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  .container[b-iqrs9h3a9u] {
    max-width: 100%;
  }
}
@media (max-width: 468px) {
  .container[b-iqrs9h3a9u] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

