@using CommsWall.Infrastructure.ChatSessionsScreen.ManageMessages.SubTasks;

@using CommsWall.Infrastructure.PluginInterfaces.BrowserStorage;

@inject IManageMessages comms

<div class="container">
    <div class="col-md-12">
        <div class="bottom">
            <form class="position-relative w-100">
                <textarea 
                    class="form-control" 
                    placeholder="Start typing for reply..." 
                    rows="1"
                @bind-value="@TextMessage"
                @bind-value:event="oninput"
                @onkeypress="@HandleKeyPress"></textarea>
                <button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>
                <button 
                    type="button" 
                    class="btn send"
                @onclick="@HandleSendMessage">
                    <i class="fa fa-brand fa-solid fa-paper-plane"></i>
                </button>
            </form>
            <label>
                <input type="file">
                <span class="btn attach d-sm-block d-none">
                    <i class="sys-icons fa fa-paperclip"></i>
                </span>
            </label> 
        </div>
    </div>
</div>

@code{
    [Parameter]
    public int sessionId { get; set; }

    private string TextMessage { get; set; } = string.Empty;

    private void HandleSendMessage()
    {
        if (!string.IsNullOrWhiteSpace(TextMessage) && sessionId != 0)
            comms.SendMessage(sessionId, TextMessage);
        TextMessage = string.Empty;
        StateHasChanged();
    }

    private void HandleKeyPress(KeyboardEventArgs args)
    {
        if(args.Key == "Enter")
        {
            HandleSendMessage();
        }
    }
}
