@* This is the notification component. Each individual notification is rendered by this component *@

<a href="#" class="filterNotifications all latest notification" data-toggle="list">
	<img class="avatar-md" src="dist/img/avatars/avatar-female-3.jpg" data-toggle="tooltip" data-placement="top" title="Janette" alt="avatar">
	<div class="status">
		<i class="material-icons online">fiber_manual_record</i>
	</div>
	<div class="data">
		<p>Harmony has accepted your friend request on Swipe.</p>
		<span>Jan 5, 2018</span>
	</div>
</a>

@code {

}
