.sidebar .notifications .notification .status[b-7p2b2ce308] {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    left: 4px;
    border: 5px solid #fff;
    margin-top: 12px;
    border-radius: 100%;
}

    .sidebar .notifications .notification .status .online[b-7p2b2ce308] {
        color: #2196f3;
    }

    .sidebar .notifications .notification .status .offline[b-7p2b2ce308] {
        color: #bbb;
    }

    .sidebar .notifications .notification .status .material-icons[b-7p2b2ce308] {
        position: absolute;
        left: -3px;
        bottom: -3px;
        font-size: 16px;
    }

.sidebar .notifications .notification .data[b-7p2b2ce308] {
    width: 100%;
}

    .sidebar .notifications .notification .data p[b-7p2b2ce308] {
        font-size: 16px;
        line-height: 1.4;
        font-weight: 500;
        color: #212529;
        margin-bottom: 7px;
    }

    .sidebar .notifications .notification .data span[b-7p2b2ce308] {
        float: left;
        font-size: 15px;
        color: #bdbac2;
    }
