@*This is the NotificationGroup component. It groups notifications by read status*@
<div class="list-group sort">
	<button class="btn filterNotificationsBtn active show" data-toggle="list" data-filter="all">All</button>
	<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="latest">Latest</button>
	<button class="btn filterNotificationsBtn" data-toggle="list" data-filter="oldest">Oldest</button>
</div>

@code {

}
