<div class="navigation">
    <div class="container">
        <div class="inside">
            <div class="nav nav-tab menu">

                <UserAvatar avatarUrl="img/avatars/avatar.jpg"/>

                <MenuItem location="#none" linkText="Data"/>

                <MenuItem location="#none" linkText="Data"/>
                <MenuItem location="#none" linkText="Data"/>
                <MenuItem location="#none" linkText="Data"/>


                <a href="#discussions" data-toggle="tab" class="active" onclick="@NavigationMethod">
                    <i class="material-icons active">chat_bubble_outline</i>
                    <p>@data</p>
                    @* <i class="fa-solid fa-brand fa-image active">Twitter</i> *@
                </a>
                <a href="#notifications" data-toggle="tab" >
                    <i class="material-icons">notifications_none</i>
                </a>
                <button class="btn mode">
                    <i class="material-icons">brightness_2</i>
                </button>
                <a href="#settings" data-toggle="tab">
                    <i class="material-icons">settings</i>
                </a>
                <button class="btn power" onclick="visitPage();">
                    <i class="material-icons">power_settings_new</i>
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    public String? data {get; set;}
    public void NavigationMethod()
    {
        data = "The Universe";
    }
}
