.sys-icons{
    color: #2196F3;
    display: inline-block;
    line-height: 1;
    font-size: 25px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.sys-icons {
  display: block;
  font-size: 30px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .sys-icons {
    font-size: 24px;
    margin-bottom: 0;
  }
}