@using CommsWall.WebApp.Pages.SideViewPages.ChatHistory.MainFilters
@using CommsWall.WebApp.Pages.SideViewPages.ChatHistory.MsgHistoryWindow

@using CommsWall.WebApp.Controls.ChatControls

<div class="#" id="members">
    <SearchHistory />

    <HistoryFilters />
 						
    <div class="discussions">
        <h1>Chat History</h1>
        <div class="list-group" id="chats" role="tablist">

            <MsgHistoryWindow 
                imageUrl="img/avatars/avatar.jpg"
                userName="Benard Kimani"
                newMessages="5"
                textMessage="filterDiscussions all unread single active"
                stringTimeStamp="Mon 12:00 pm" />
        </div>
    </div>
</div>

