@using CommsWall.WebApp.Pages.SideViewPages.Notifications.Notification
@using CommsWall.WebApp.Pages.SideViewPages.Notifications.NotificationFilter
@using CommsWall.WebApp.Pages.SideViewPages.Notifications.NotificationGroup


<!-- Start of Notifications -->
<div id="notifications">
	@*This is the class to make it invisible *@
	@*class="tab-pane fade">*@
	
	@*This is the notifications filter component. It helps to filter the notifications by name.*@
	<NotificationFilter/>

@*This is the notifications group component. It helps to group the notifications by read or unread status.*@
	<NotificationGroup/>

	<div class="notifications">
		<h1>Notifications</h1>
		<div class="list-group" id="alerts" role="tablist">
			<Notification/>
		</div> 
	</div>
</div>
<!-- End of Notifications -->

@code {

}
