@using CommsWall.WebApp.Pages.SideViewPages.Notifications.Notification
@using CommsWall.WebApp.Pages.SideViewPages.Notifications.NotificationFilter
@using CommsWall.WebApp.Pages.SideViewPages.Notifications.NotificationGroup

<div id="notifications"> @*class="tab-pane fade">*@
	@*
	<NotificationFilter/>: Filter with users input
	<NotificationGroup/>: Filter to see these categories:
		* All notifications
		* Latest notifications
		* Oldest notifications
	*@
	<NotificationFilter/>

	<NotificationGroup/>

	<div class="notifications">
		<h1>Notifications</h1>
		<div class="list-group" id="alerts" role="tablist">
			<Notification/>
		</div> 
	</div>
</div>

@code {

}
